html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
    font-size: 14px;
    color: rgba(black, .78);
}
*{
    box-sizing: border-box;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: inherit;
    &[href] {
        color: deepskyblue;
    }
}

hr {
    $color: rgba(grey, .1);
    border: 0;
    height: 1px;
    background-color: $color;
    &.dash{
        background-color: transparent;
        border-bottom: 1px dashed $color;
    }
}

// display
.inline-block {
    display: inline-block;
}

.block {
    display: block;
}


// 文本居中
.text-center {
    text-align: center;
}

// overflow
.overflow-auto{
    overflow: auto;
}
.overflow-hide{
    overflow: hidden
}

// margin
    .m-0{
        margin: 0px !important;
    }
    .m-l-0{
        margin-left: 0px !important;
    }
    .m-r-0{
        margin-right: 0px !important;
    }
    .m-t-0{
        margin-top: 0px !important;
    }
    .m-b-0{
        margin-bottom: 0px !important;
    }

    .m-5{
        margin: 5px !important;
    }
    .m-l-5{
        margin-left: 5px !important;
    }
    .m-r-5{
        margin-right: 5px !important;
    }
    .m-t-5{
        margin-top: 5px !important;
    }
    .m-b-5{
        margin-bottom: 5px !important;
    }

    .m-10{
        margin: 10px !important;
    }
    .m-l-10{
        margin-left: 10px !important;
    }
    .m-r-10{
        margin-right: 10px !important;
    }
    .m-t-10{
        margin-top: 10px !important;
    }
    .m-b-10{
        margin-bottom: 10px !important;
    }

    .m-15{
        margin: 15px !important;
    }
    .m-l-15{
        margin-left: 15px !important;
    }
    .m-r-15{
        margin-right: 15px !important;
    }
    .m-t-15{
        margin-top: 15px !important;
    }
    .m-b-15{
        margin-bottom: 15px !important;
    }

    .m-20{
        margin: 20px !important;
    }
    .m-l-20{
        margin-left: 20px !important;
    }
    .m-r-20{
        margin-right: 20px !important;
    }
    .m-t-20{
        margin-top: 20px !important;
    }
    .m-b-20{
        margin-bottom: 20px !important;
    }

// padding
    .p-0{
        padding: 0px !important;
    }
    .p-l-0{
        padding-left: 0px !important;
    }
    .p-r-0{
        padding-right: 0px !important;
    }
    .p-t-0{
        padding-top: 0px !important;
    }
    .p-b-0{
        padding-bottom: 0px !important;
    }

    .p-5{
        padding: 5px !important;
    }
    .p-l-5{
        padding-left: 5px !important;
    }
    .p-r-5{
        padding-right: 5px !important;
    }
    .p-t-5{
        padding-top: 5px !important;
    }
    .p-b-5{
        padding-bottom: 5px !important;
    }

    .p-10{
        padding: 10px !important;
    }
    .p-l-10{
        padding-left: 10px !important;
    }
    .p-r-10{
        padding-right: 10px !important;
    }
    .p-t-10{
        padding-top: 10px !important;
    }
    .p-b-10{
        padding-bottom: 10px !important;
    }

    .p-15{
        padding: 15px !important;
    }
    .p-l-15{
        padding-left: 15px !important;
    }
    .p-r-15{
        padding-right: 15px !important;
    }
    .p-t-15{
        padding-top: 15px !important;
    }
    .p-b-15{
        padding-bottom: 15px !important;
    }

    .p-20{
        padding: 20px !important;
    }
    .p-l-20{
        padding-left: 20px !important;
    }
    .p-r-20{
        padding-right: 20px !important;
    }
    .p-t-20{
        padding-top: 20px !important;
    }
    .p-b-20{
        padding-bottom: 20px !important;
    }

// flex布局
    .flex {
        display: flex;
        &.inline{
            display: inline-flex;
        }
        &.flex-center{
            justify-content: center;
            align-items: center;
        }
        &.flex-end{
            justify-content: flex-end;
        }
        &.justify-center{
            justify-content: center
        }
        &.align-center{
            align-items: center;
        }
        &.column {
            flex-direction: column;
        }
        &.space-between {
            justify-content: space-between;
        }
        &.space-around{
            justify-content: space-around;
        }
        .grow-1 {
            flex-grow: 1
        }
        .grow-2 {
            flex-grow: 2
        }
    }

// 浮动
    .float-right {
        float: right;
    }

    .float-left {
        float: left;
    }

    .clear {
        clear: both;
    }


// color
    .f-color-black {
        color: rgba(black, .75);
    }
    .f-color-grey {
        color: #97a8be;
    }
    .f-color-red{
        color:#FF4949
    }
    .f-color-blue{
        color: #20A0FF;
    }
    .f-color-green{
        color: #13CE66;
    }
    .f-color-yellow{
        color:goldenrod;
    }

// 背景
    .bg-white {
        background-color: white;
    }
    .bg-transparent{
        background-color: transparent;
    }


// 字体大小
    .f-10 {
        font-size: 10px !important;
    }

    .f-12 {
        font-size: 12px !important;
    }

    .f-14 {
        font-size: 14px !important;
    }

    .f-16 {
        font-size: 16px !important;
    }

    .f-18 {
        font-size: 18px !important;
    }

    .f-20 {
        font-size: 20px !important;
    }

