/*
    ui 公用布局
*/

@import 'src/sass/layout/public.scss';
@import './scrollbar.scss';
.ui-content {
    background-color: white;
    padding: 15px;
}

// 标题
.ui-title {
    font-size: 16px;
    font-weight: normal;
    color: rgba(black, .4);
    margin-top: 0;
    margin-bottom: 15px;
}

// 输入框大小
.ui-input-w {
    width: 194px;
    display: inline-block;
}

// 在输入框左边创建一个文本标签
.ui-input-group {
    display: inline-flex;
    align-items: stretch;
    >.input-label {
        color: #97a8be;
        display: inline-block;
        border: 1px solid #bfcbd9;
        border-right: 0;
        background-color: #fbfdff;
        font-size: 14px;
        padding: 0 10px;
        display: flex;
        align-items: center;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        &+* {
            >input {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
        }
    }
}

.ui-card {
    border-radius: 4px;
    background-color: white;
    padding: 15px;
    border: $ui-border;
    @include box-shadow;
}

.ui-border {
    border-radius: 4px;
    border: $ui-border;
}

// 固定的提示面板
.ui-tips {
    color: #dcb669;
    background-color: floralwhite;
    border: 1px solid blanchedalmond;
    border-radius: 4px;
    padding: 15px;
    margin-bottom: 15px;
    ul,
    ol {
        list-style: unset;
    }
}

// form
.ui-form-dialog {
    .el-input,.el-textarea{
        width: 400px;
    }
    .el-form-item__label{
        width: 130px;
    }
}
.ui-form-inline{ //form中元素不撑满宽度
    .el-input{
        width: 150px;
    }
    // 下拉多选不限制宽度
    .el-select__tags + .el-input{
        width: auto;
    }
    .el-form-item__label{
        width: 80px;
    }
    // 双日期+时间
    .el-date-editor--datetimerange{
        width: 350px;
    }
    // 单日期+时间
    .el-date-editor--datetime{
        width: 193px;
    }
}
.ui-table-head-nowarp{
    .is-leaf{
        .cell{
            white-space: nowrap;
        }
    }
}

// 头像上传
.ui-uploader {
    $imgSize: 200px;
    .el-upload {
        border: 1px dashed #d9d9d9;
        border-radius: 6px;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        &:hover {
            border-color: #20a0ff;
        }
        >img {
            width: $imgSize;
            height: $imgSize;
            display: block;
        }
        >i {
            font-size: 28px;
            color: #8c939d;
            width: $imgSize;
            height: $imgSize;
            line-height: $imgSize;
            text-align: center;
        }
    }
}

// 价格符号
.ui-rmb {
    &:before {
        content: '¥';
        padding-right: 5px;
    }
}

// 鼠标指针
.ui-cursor-pointer {
    cursor: pointer
}

.ui-cursor-auto {
    cursor: auto
}

// 重写----------
// element-ui
.el-dialog__footer{
    // dialog footer改写
    border-top: $ui-border;
    border-top-color: #eee;
}

.el-table__fixed-right{
    // table的有浮动控制区域样式修正
    height: 100% !important;
    right: 1px;
}


// vue-awesome
.fa-icon {
    width: auto;
    height: 1em; //设置自动高度
    &.text{// 解决与文本混合
        transform: translateY(0.1em);//垂直居中问题
        margin-right: .2em;
    }
}